PurchaseOrder.main/Service Descriptors/EseguiOrdine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.example.org/schema/1637835837373" xmlns:tns="http://www.example.org/wsdl/1637835837319" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/ParamOrder" name="EseguiOrdine" targetNamespace="http://www.example.org/wsdl/1637835837319">
  <wsdl:import location="../Schemas/EseguiOrdine/EseguiOrdineSchema.xsd" namespace="http://www.example.org/schema/1637835837373"/>
  <wsdl:types>
  	<xsd:schema>
  		<xsd:import namespace="http://www.example.org/ParamOrder" schemaLocation="../Schemas/EseguiOrdine/ParamOrder.xsd">
  		</xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part element="xsd1:ParamorderIN" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="xsd1:ParamOrderOut" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Request">
    <wsdl:part element="xsd1:operation1Request" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Response">
    <wsdl:part element="xsd1:operation1Response" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="EseguiOrdine">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
    </wsdl:operation>
        <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1Request" name="operation1Input"/>
      <wsdl:output message="tns:operation1Response" name="operation1Output"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
