PurchaseOrder.main/Schemas/ProductInfo/availability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/availability" xmlns:tns="http://www.example.org/availability" elementFormDefault="qualified">

    <element name="CheckStore" type="tns:CheckStoreType"></element>
    
    <complexType name="CheckStoreType">
    	<sequence>
    		<element name="ResponseFromStore" type="string"></element>
    	</sequence>
    </complexType>
</schema>