PurchaseOrder.main/Schemas/ProductInfo/ProductQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ProductQuery" xmlns:tns="http://www.example.org/ProductQuery" elementFormDefault="qualified">

    <element name="ProductQuery" type="tns:ProductQueryType"></element>
    
    <complexType name="ProductQueryType">
    	<sequence>
    		<element name="ProductList" type="tns:ProductListType"></element>
    	</sequence>
    </complexType>

    <complexType name="ProductListType">
    	<sequence>
    		<element name="Name" type="string"></element>
    		<element name="Quantity" type="integer"></element>
    	</sequence>
    </complexType>
</schema>