PurchaseOrder.main/Schemas/EseguiOrdine/FaultChart.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FaultChart" xmlns:tns="http://www.example.org/FaultChart" elementFormDefault="qualified">

    <element name="FaultChart" type="tns:FaultChartType"></element>
    
    <complexType name="FaultChartType">
    	<sequence>
    		<element name="FaultChartMex" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>