PurchaseOrder.main/Schemas/EseguiOrdine/FaultBank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FaultBank" xmlns:tns="http://www.example.org/FaultBank" elementFormDefault="qualified">

    <element name="FaultBank" type="tns:FaultBankType"></element>
    
    <complexType name="FaultBankType">
    	<sequence>
    		<element name="FaultBankMex" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>