PurchaseOrder.main/Schemas/EseguiOrdine/FaultAd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FaultAd" xmlns:tns="http://www.example.org/FaultAd" elementFormDefault="qualified">

    <element name="FaultAd" type="tns:FaultAdType"></element>
    
    <complexType name="FaultAdType">
    	<sequence>
    		<element name="FaultAdMex" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>