PurchaseOrder.main/Schemas/UserInfo/UsernameCount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/UsernameCount" xmlns:tns="http://www.example.org/UsernameCount" elementFormDefault="qualified">

    <element name="UsernameCount" type="tns:UsernameCountType"></element>
    
    <complexType name="UsernameCountType">
    	<sequence>
    		<element name="Count" type="integer" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
</schema>